$backgroundColor: #FCFAF2;

$yellowColor: #E4C22B;

$greenColor: #2E6256;

$fontColor: #382710;

$frameColor: #B5B5B5;


//maxwidthの指定
$maxWidth: 1280px;

//ｈ２の大きさ
$subTitle: 2rem;

//間の大きさ
$while: 5rem;

//鳥の画像の大きさ
$bird: 100px;