@use "doru";
@use "breakpoint" as b;

header {
    height: 8rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;

    @include b.mq(tab) {
        height: 5rem;
    }

    .headerWrap {
        height: 5rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1, 5rem;
        border-bottom: 2px solid doru.$yellowColor;


        .headerNav01 {

            ul {
                display: flex;
                gap: 1rem;
                align-items: center;

                @include b.mq(tab) {
                    gap: 0.3rem;
                }

                img {
                    width: 60px;
                    margin-left: 1rem;

                    @include b.mq(tab) {
                        width: 45px;
                    }

                    @include b.mq(mob) {
                        width: 35px;
                        margin-left: 0.3rem;
                    }
                }

                h1 {
                    font-size: 2rem;
                    font-weight: bold;

                    @include b.mq(tab) {
                        font-size: 1.5rem;
                    }

                    @include b.mq(mob) {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .headerNav02 {
            margin-right: 3rem;

            ul {
                display: flex;
                gap: 1.5rem;
                align-items: center;

                img {
                    @include b.mq(mob) {
                        max-width: 20px;
                    }
                }

                .headerP {
                    @include b.mq(tab) {
                        display: none;
                    }
                }

            }
        }
    }

    .menuWrap {
        height: 3rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: #E4C22B;
        border-bottom: white 2px solid;

        @include b.mq(tab) {
            display: none;
        }

        nav {
            width: 100%;
            padding: 0 3rem;

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            li {
                color: white;
                transition: 0.5s;
            }

            a {
                position: relative;
                display: inline-block;
                transition: .3s;
            }

            a:hover {
                color: doru.$fontColor;
                transition: 0.5s;
            }

            a::after {
                position: absolute;
                bottom: .3em;
                left: 0;
                content: '';
                width: 100%;
                height: 1px;
                background-color: #382710;
                opacity: 0;
                transition: .3s;
            }

            a:hover::after {
                bottom: 0;
                color: doru.$fontColor;
                transition: 0.4s;
                opacity: 1;
            }
        }
    }
}