@use "doru";
@use "breakpoint" as b;

.qaTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background-image: url(../images/QandA/qaTop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;

    margin: 8rem auto 0;

    @include b.mq(tab) {
        font-size: 2rem;
        margin: 5rem auto 0;
    }

    @include b.mq(mob) {
        font-size: 1.5rem;
    }
}

.qaImg1 {
    position: absolute;
    top: 6%;
    left: 80%;
    max-width: 100px;

    @include b.mq(tab) {
        top: 5%;
    }

    @include b.mq(mob) {
        top: 4%;
        max-width: 80px;
    }

    img {
        width: 100%;
    }
}

.qaImg2 {
    position: absolute;
    top: -5%;
    left: 0%;
    max-width: 100px;

    @include b.mq(mob) {
        max-width: 80px;
    }

    img {
        width: 100%;
    }
}

.qa_li {
    background-color: #ffffff;
    width: 80%;
    border-radius: 1rem;
    margin: 5rem auto;
    padding: 1rem 2rem;

    @include b.mq(tab) {
        width: 100%;
    }

    .qa_liBox {
        width: 80%;
        margin: 0 auto;

        @include b.mq(tab) {
            width: 100%;
        }

        dt {
            padding: 1rem;
        }

        dt::before {
            content: "Q";
            font-weight: bold;
            font-size: x-large;
            color: doru.$greenColor;
            padding: 0.5rem;
        }

        dd {
            padding: 1rem;
        }

        dd::before {
            content: "A";
            font-weight: bold;
            font-size: x-large;
            color: doru.$yellowColor;
            padding: 0.5rem;
        }
    }
}

.Form {
    position: relative;
    padding-bottom: 5rem;

    h2 {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }

    .contactTable {
        width: 80%;
        margin-bottom: 2rem;
        margin: 2rem auto;
        border-collapse: separate;
        border-spacing: 1rem;
        background-color: #ffffff;
        border-radius: 1rem;

        @include b.mq(tab) {
            width: 90%;
        }

        @include b.mq(mob) {
            width: 100%;
        }
    }

    .contactItem,
    .contactBody {
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .contactItem {
        width: 40%;
        min-width: 170px;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 0 16px 16px 0;
        border-left: 10px solid doru.$greenColor;
        margin-right: 0.2rem;
    }

    #contactName {
        width: 29%;

        input {
            width: 80%;
        }
    }

    #contactItemYellow {
        border-left: 10px solid doru.$yellowColor;
    }

    .contactBody {
        input {
            width: 100%;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 1rem;
            padding: 0.5rem 2rem;
            margin: 0.5rem 0rem 0.5rem 0.5rem;
        }

        .contactSubmit {
            text-align: center;
        }

        textarea {
            background-color: #ffffff;
            width: 100%;
            height: 15rem;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .formSelect {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    .labelItem {
        display: inline-block;
        color: #ffffff;
        background-color: #ff7171;
        padding: 0 0.5rem;
        border-radius: 100vh;
    }

    .contactSubmit {
        width: 15rem;
        background-color: white;
        border: solid 8px doru.$yellowColor;
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
        margin: 0 auto;
        text-align: center;

        border-radius: 10rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;

        box-shadow: 0.2rem 0.2rem 0.2rem rgb(168, 168, 168);
        transition: 0.5s;

        @include b.mq(tab) {
            font-size: 1rem;
            border: solid 5px doru.$yellowColor;
            width: 10rem;
        }
    }

    .contactSubmit:hover {
        box-shadow: none;
    }

    .qaImg3 img {
        width: 250px;
        position: absolute;
        bottom: -1rem;
        left: 1.5rem;
    }

    .qaImg4 img {
        width: 250px;
        position: absolute;
        bottom: -1rem;
        right: 1rem;
    }

    @include b.mq(tab) {
        .contactTable {
            margin: 2rem auto;
        }

        tr {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .contactItem {
            width: 100%;
        }

        .contactBody {
            width: 100%;
            border-radius: 0;

        }

        #contactName {
            width: 49%;

            input {
                display: block;
                width: 100%;
            }
        }
    }

    @include b.mq(tab) {
        .qaImg3 img {
            width: 180px;
        }

        .qaImg4 img {
            width: 180px;
        }
    }

    @include b.mq(mob) {
        .qaImg1 img {
            width: 80px;
        }

        #contactName {
            width: 100%;
        }

        .qaImg3 img {
            width: 150px;
        }

        .qaImg4 img {
            width: 150px;
        }
    }
}