@use "doru";
@use "breakpoint" as b;

/////////////////////  topSectionTop
#topSectionTop {
    position: relative;
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    max-width: doru.$maxWidth;

    margin: 8rem auto 0;

    @include b.mq(tab) {
    margin: 5rem auto 0;
    }

    .main-top {
        grid-row: main;
        height: 85vh;
        max-width: doru.$maxWidth;

        @include b.mq(tab) {
            height: 50vh;
        }

        @include b.mq(mob) {
            height: 40vh;
        }
    }

    .swiper-container {
        height: 100%;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        overflow: hidden;
    }

    .swiper-wrapper,
    .swiper-slide>div {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .swiper-slide.sw-1>div {
        background: url(../images/top/topimg01.png) center center / cover no-repeat;
    }

    .swiper-slide.sw-2>div {
        background: url(../images/top/hyogo.png) center center / cover no-repeat;
    }

    .swiper-slide.sw-3>div {
        background: url(../images/top/nara.png) center center / cover no-repeat;
    }

    .swiper-slide.sw-4>div {
        background: url(../images/top/siga.png) center center / cover no-repeat;
    }

    .swiper-slide.sw-5>div {
        background: url(../images/top/wakayama.png) center center / cover no-repeat;
    }

    .swiper-slide.sw-6>div {
        background: url(../images/top/kyoto.png) center center / cover no-repeat;
    }

    @keyframes zoomUp {

        /* ズームアップで1.15倍させる指定 */
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }

    .swiper-slide-active>div,
    .swiper-slide-duplicate-active>div,
    .swiper-slide-prev>div {
        animation: zoomUp 10s linear 0s 1 normal both;
    }

    @include b.mq(tab) {
        background-size: cover;
        background-position: right top;
    }

    .topTopBox {
        display: flex;
        justify-content: space-around;
        margin: 0 3rem;

        .topTopBox01 {
            width: 50%;

            .topText01 {
                margin-bottom: 1rem;
                position: absolute;
                z-index: 10;
                top: 10%;
                left: 5%;
                // background: radial-gradient(rgb(255, 255, 255),rgb(255, 255, 255,0));
                // box-shadow: 0 0 30px white;
                // border-radius: 1rem;
                padding: 1rem;

                @include b.mq(tab) {
                    top: 5%;
                }

                p {
                    letter-spacing: 0.1rem;
                    line-height: 1.4;
                    font-size: 2rem;
                    color: doru.$fontColor;

                    @include b.mq(tab) {
                        font-size: 1.5rem;
                        line-height: 1.2;
                    }

                    @include b.mq(mob) {
                        font-size: 1rem;
                    }

                    span {
                        font-size: 3rem;
                        color: doru.$greenColor;

                        @include b.mq(tab) {
                            font-size: 2.5rem;
                        }

                        @include b.mq(mob) {
                            font-size: 2rem;
                        }
                    }
                }
            }

            .topText02 {
                margin: 2rem 0 3rem;
                position: absolute;
                z-index: 10;
                top: 60%;
                left: 6%;

                @include b.mq(mob) {
                    margin: 2.5rem 0 1rem;
                    top: 50%;
                    left: 6%;
                }

                h1 {
                    font-size: 2.5rem;
                    font-weight: bold;
                    white-space: nowrap;

                    @include b.mq(tab) {
                        font-size: 1.5rem;
                    }

                    @include b.mq(mob) {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .topTopBox02 {
            width: 50%;
            max-width: 550px;
            min-width: 180px;
            height: auto;
            margin-top: 2rem;
            position: absolute;
            z-index: 10;
            top: 7%;
            right: 3%;

            @include b.mq(tab) {
                max-width: 300px;
                top: 0%;
                right: 0%;
            }

            img {
                width: 100%;
            }
        }
    }

    .topScroll {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation: fontcolor 10s infinite;
        @keyframes fontcolor {
            0% { color: #B5B5B5; }
            25% { color: doru.$fontColor; }
            50% { color: #B5B5B5; }
            75% { color: doru.$fontColor; }
            100% { color: #B5B5B5; }
        }

        @include b.mq(mob) {
            top: 90%;
        }

        a:hover {
            color: white;
            transition: 0.5s;
        }

        p {
            font-size: 1.5rem;

            @include b.mq(tab) {
                font-size: 1rem;
            }
            @include b.mq(mob) {
                font-size: 1rem;
            }
        }
    }
}

#scrollPoint {
    margin: 0 0 5rem;
}

/////////////////////  topSectionFb

#topSectionFb {
    position: relative;
    max-width: doru.$maxWidth;
    margin: 10rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include b.mq(tab) {
        margin: 5rem auto 0;
    }
    @include b.mq(mob) {
        margin: 0rem auto 0;
    }

    .faceBook {
        width: 500px;
        height: 200px;

        @include b.mq(tab) {
            width: 300px;
        }

        @include b.mq(mob) {
            width: 300px;
        }

        img{
            width: 100%;
            max-width: 600px;
        }
    }

    .bird01 {
        position: absolute;
        top: -40%;
        left: 10%;
        max-width: 100px;
        height: auto;

        @include b.mq(tab) {
            top: -40%;
            left: 0%;
            max-width: 80px;
        }

        img {
            width: 100%;
        }

    }

    .bird02 {
        position: absolute;
        top: 75%;
        right: 10%;
        max-width: 100px;
        height: auto;

        @include b.mq(tab) {
            right: 0%;
            max-width: 80px;
        }

        img {
            width: 100%;
        }
    }
}

/////////////////////  topSectionAbout

#topSectionAbout {
    background-color: white;
    max-width: 1000px;
    height: 500px;
    border-radius: 1rem;
    margin: 5rem auto;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    @include b.mq(tab) {
        border-radius: 50%;
        width: 400px;
        height: 400px;
    }

    @include b.mq(mob) {
        width: 300px;
        height: 300px;
    }

    .topAboutBox {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: doru.$subTitle;
            margin-bottom: 2rem;
            font-weight: Bold;

            @include b.mq(tab) {
                margin-bottom: 3rem;
                font-size: 1.5rem;
            }

            @include b.mq(mob) {
                margin-top: 1rem;
                margin-bottom: 2rem;
                font-size: 1.2rem;
            }
        }

        p {
            font-size: 1.5rem;

            @include b.mq(tab) {
                font-size: 1rem;
            }
        }

        .linkYellow {
            margin-top: 3.5rem;
            background-color: white;
            border: solid 8px doru.$yellowColor;
            border-radius: 10rem;
            font-size: 1.5rem;
            width: 15rem;
            box-shadow: 0.2rem 0.2rem 0.2rem rgb(168, 168, 168);
            transition: 0.5s;

            @include b.mq(tab) {
                margin-top: 2rem;
                width: 10rem;
                font-size: 1rem;
                border: solid 5px doru.$yellowColor;
            }
        }

        .linkYellow:hover {
            box-shadow: none;
        }
    }

    .topAboutImg02{
        position: absolute;
        top: 20%;
        left: 10%;
        max-width: 150px;

        @include b.mq(tab) {
        display: none;
            top: 0%;
            left: -10%;
        }

        @include b.mq(mob) {
            max-width: 80px;
        }

        img{
            width: 100%;
        }
    }

    .topAboutImg{
        position: absolute;
        top: 50%;
        right: 10%;

        @include b.mq(tab) {
            top: 60%;
            right: -10%;
        }

        @include b.mq(mob) {
            max-width: 100px;
            right: -2%;
        }

        img{
            width: 100%;
        }
    }
}



/////////////////////  topSectionMerit

/////////////////////  topSectionActivity

#topSectionActivity {
    background-color: white;
    max-width: doru.$maxWidth;
    margin: 0 auto;

    margin-top: 5rem;
    border-radius: 1rem;
    text-align: center;

    .topActivityBox01 {
        display: flex;

        @include b.mq(tab) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .topActivityBox02 {
        display: flex;
        flex-direction: row-reverse;

        @include b.mq(tab) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .activity0101 {
        width: 50%;
        background-color: doru.$yellowColor;
        border-radius: 0 1rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include b.mq(tab) {
            width: 100%;
            padding: 1rem 1rem;
            border-radius: 1rem;
        }

        img {
            width: 100%;
        }
    }

    .activity0201 {
        width: 50%;
        background-color: doru.$yellowColor;
        border-radius: 0 0 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include b.mq(tab) {
            width: 100%;
            padding: 1rem 1rem;
            border-radius: 1rem;
        }

        img {
            width: 100%;
        }
    }

    .activity02 {
        width: 50%;

        @include b.mq(tab) {
            width: 100%;
        }

        h2 {
            margin: 2rem;
            font-weight: bold;

            @include b.mq(tab) {
                margin: 0;
                margin-top: 7rem;
                margin-bottom: 0rem;
            }
        }

        .activityText {
            margin: 0 auto;
            padding: 1rem 3rem;
            max-width: 35rem;

            @include b.mq(tab) {
                padding: 2.5rem;
            }
        }
    }

    .linkYellow {
        margin: 2rem auto;
        background-color: white;
        border: solid 8px doru.$yellowColor;
        border-radius: 10rem;
        font-size: 1.5rem;
        width: 19rem;
        text-align: center;
        box-shadow: 0.2rem 0.2rem 0.2rem rgb(168, 168, 168);
        transition: 0.5s;

        @include b.mq(tab) {
            margin-top: 2rem;
            width: 13rem;
            font-size: 1rem;
            border: solid 5px doru.$yellowColor;
        }
    }

    .linkYellow:hover {
        box-shadow: none;
    }
}

/////////////////////  topSectionGoods

#topSectionGoods {
    margin-top: 10rem;
    padding: 3rem;
    background-color: white;
    border-radius: 1rem;

    @include b.mq(tab) {
        padding: 1rem;
    }

    .topGoodsBox01 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        text-align: center;

        @include b.mq(tab) {
            width: 100%;
        }

        h2 {
            font-weight: Bold;
        }

        .goodsText {
            padding: 5rem 0;
            max-width: 45rem;

            @include b.mq(tab) {
                padding: 5rem 2.5rem;
            }

            @include b.mq(tab) {
                padding: 3rem 2rem;
            }
        }
    }

    .topGoodsBox02 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include b.mq(tab) {
            flex-direction: column;
        }

        .goodsBox01 {
            margin: 1rem;

            .goodsText {
                padding-bottom: 1rem;
            }

            img {
                width: 100%;
            }
        }
    }
}

/////////////////////  topSectionPrefecture

#topSectionPrefecture {
    margin: 5rem 0;
    text-align: center;
    position: relative;

    img {
        width: 100%;
    }

    h2 {
        margin-bottom: 5rem;
        font-weight: Bold;
        text-align: center;

        border-bottom: 3px solid doru.$yellowColor;
        display: inline-block;

        @include b.mq(tab) {
            margin-bottom: 3rem;
            font-size: 1.5rem;
        }

        @include b.mq(mob) {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
    }

    .topPrefecture {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include b.mq(tab) {
            justify-content: center;
        }

        .people03,
        .people04 {
            width: 10%;

            @include b.mq(tab) {
                display: none;
            }
        }
    }
}

svg {
    width: 80%;
    width: 650px;
    height: 650px;

    background: white;
    border-radius: 50%;

    @include b.mq(tab) {
        width: 480px;
        height: 480px;
    }

    @include b.mq(mob) {
        width: 100%;
        width: 350px;
        height: 350px;
    }

    .svgMap {
        transform: translate(3.5rem, 7rem);

        @include b.mq(tab) {
            transform: translate(3.7rem, 5rem);
        }

        @include b.mq(mob) {
            transform: translate(2.2rem, 4.5rem);
        }

        .svgMap2 {

            @include b.mq(tab) {
                transform: scale(0.7);
            }

            @include b.mq(mob) {
                transform: scale(0.5);
            }

            .hyogoText,
            .kyotoText,
            .shigaText,
            .naraText,
            .wakayamaText {
                color: doru.$fontColor;
            }

            .hyogoName {
                fill: none;
                stroke: #B7D564;
                stroke-width: 6;
            }

            .kyotoName {
                fill: none;
                stroke: #B35A87;
                stroke-width: 6;
            }

            .shigaName {
                fill: none;
                stroke: #77B8D2;
                stroke-width: 6;
            }

            .wakayamaName {
                fill: none;
                stroke: #5971BD;
                stroke-width: 6;
            }

            .naraName {
                fill: none;
                stroke: #DBA751;
                stroke-width: 6;
            }

            .hyogoMap {
                fill: #C1DB77;
            }

            .wakayamaMap {
                fill: #5971BD;
            }

            .naraMap {
                fill: #DBA751;
            }

            .kyotoMap {
                fill: #B35A87;
            }

            .shigaMap {
                fill: #77B8D2;
            }

            .mapActive {
                transition: 0.3s;
            }

            .mapNoActive {
                fill: gray;
                transform-origin: center center;
                transition: 0.3s;

                .hyogoMap,
                .kyotoMap,
                .shigaMap,
                .naraMap,
                .wakayamaMap,
                .hyogoText,
                .kyotoText,
                .shigaText,
                .naraText,
                .wakayamaText {
                    fill: #B5B5B5;
                }

                .hyogoName,
                .kyotoName,
                .shigaName,
                .naraName,
                .wakayamaName {
                    stroke: #B5B5B5;
                }
            }
        }
    }
}


